<ng-container *ngIf="DetalleTarjeta">
   
        <div class="row no-gutters">
            <section>
                <article>
                    <figure>  
            
                        <img src="{{DetalleTarjeta.imgUrl}}" class="card-img" alt="...">
            
                    </figure> 
     
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:bold">{{DetalleTarjeta.titulo}}</h3>
                            <p class="card-text" style="white-space: pre-line;">{{DetalleTarjeta.cuerpo}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </article>    
            </section>    
        </div>
</ng-container>

