p{
    text-align: justify;
    text-indent: 50px;
}
article{
	clear:both;
	margin:10px;
}

section{
   clear:both;
   width:40;
   float:left;
}
h3{
    text-align: justify;
    color: black;
}

article figure{
	float: left;
    display: block;
    width: 40%;
    padding: 0px 0px 0px 5px;
    border: thin silver solid;
    margin-right: 5px;
}